.AboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AboutMe-lvl1,
.AboutMe-lvl2{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-self: center;
}
.AboutMe-img,
.AboutMe-presentation,
.AboutMe-entry,
.AboutMe-images{
    width: calc(50% - 3%);
}
.AboutMe-entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}
.AboutMe-img{
    margin: 0;
    margin-right: 3%;
}
.AboutMe-img img{
    width: 70%;
}
.AboutMe-images{
    margin: 0;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AboutMe-images img{
    position: relative;
    width: 50%;
    height: 50%;
}
#img1{
    z-index: 1;
    left: 20%;
}
#img2{
    left: 5%;
    bottom: 10%;
}
.AboutMe-presentation{
    margin: 0;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1300px) {
    .AboutMe-lvl1,
    .AboutMe-lvl2{
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        padding: 2% 0 2% 0;
    }
    .AboutMe-lvl2{
        flex-direction: column-reverse;
    }
    .AboutMe-img,
    .AboutMe-presentation,
    .AboutMe-entry,
    .AboutMe-images{
        width: 100%;
        margin: 0;
    }
    .AboutMe-images{
        height: 50vh;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .AboutMe-images img{
        position: absolute;
        width: 40%;
        height: 50%;
    }#img1{
        z-index: 1;
        left: 15%;
    }
    #img2{
        left: 35%;
        top: 10%;
    }
  }