.Contact{
    width: 100%;
    height: 81.2vh;
    display: flex;
    flex-direction: row;
  }
  .Contact-img,
  .Contact-form{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Contact-img img{
    width: 100%;
    height: 100%;
  }
  .Form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
  }
  .Form input,
  .Form textarea{
    width: 100%;
    height: 20px;
    border-color: rgb(0, 158, 158);
  }
  .Form textarea{
    height: 10rem;
    resize: none;
  }
  .Form button{
    align-self: center;
    margin: 5px;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(0, 158, 158);
  }
  .Form button:hover{
    background-color: rgb(0, 107, 107);
  }

  .msg-status{
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    font-size: 20px;
  }
  .success{
    position: absolute;
    display: flex;
    background-color: hsl(143, 83%, 55%);
    bottom: 1%;
  }
  .error{
    position: absolute;
    display: flex;
    background-color: hsl(9, 100%, 64%);
    bottom: 1%;
  }
  .error-message{
    width: 300px;
    height: 100px;
    background-color: rgb(247, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 1%;
  }

  .loading {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.loading::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:"";
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width: 850px) {
  .Contact{
    height: auto;
    min-height: 81.2vh;
    flex-direction: column;
  }
  .Contact-img,
  .Contact-form{
    width: 100%;
    align-self: center;
  }
  .Form{
    align-self: center;
    padding: 100px 0 100px 0;
  }
  
}