.Courses{
    display: flex;
    min-height: 81.2vh;
    align-items: center;
    justify-content: center;
}
.Courses-content{
    width: 60%;
    min-height: 81.2vh;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(0, 107, 107);
}
.Courses-item{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Courses-item:nth-child(even){
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(0, 157, 157);
}
.Courses-item-img{
    width: calc(50% - 2%);
    margin-right: 2%;
}
.Courses-item-content{
    display: flex;
    flex-direction: column;
    width: calc(50% - 2%);
    margin-left: 2%;
}
.Courses-item-img img{
    width: 100%;
    height: 100%;
}

.Cours{
    display: flex;
    justify-content: center;
    min-height: 81.2vh;
    width: 100%;
}
.Cours-content{
    width: 60%;
    min-height: 81.2vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.Cours-lvl1{
    display: flex;
    flex-direction: row;
    height: 40vh;
    width: 100%;
}
.Cours-lvl2{
    height: auto;
    width: 100%;
}
.Cours-img{
    height: 100%;
    width: calc(50% - 2%);
    margin-right: 2%;
}
.Cours-apply{
    width: calc(50% - 2%);
    margin-left: 2%;
}
.Cours-img img{
    width: 100%;
    height: 100%;
}

.Cours-tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .Cours-tabs button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0 0px 10px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .line {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    position: relative;
    margin-bottom: 10px;
  }
  
  .highlight {
    position: absolute;
    top: 0px; 
    height: 3px;
    background-color: #000;
  }
  
  .highlight.description {
    width: 39.5px;
  }
  
  .highlight.opinions {
    width: 50.5px; 
    left: calc(0% + 40px);
  }
  
  .Cours-opinion-display {
    display: flex;
  }
  
  .Opinion-data {
    flex: 70%;
    padding-left: 10px; 
    background-color: red;
    min-height: 15vh;
  }
  .Opinion-data span {
    display: flex;
    align-items: center;
  }
  
  .Opinion-data h3 {
    margin: 0; 
  }
  .Opinion-data p {
    margin: 5px 0;
  }
  #date{
    font-size: 12px;
  }
  .Opinion-avatar{
    width: 90px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: blue;
    border: #000 solid 2px;
    min-height: 15vh;
  }
  .Opinion-avatar img{
    margin-top: 10%;
    height: 70px;
    border-radius: 60%;
  }
  .Opinion-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .Opinion-form input,
  .Opinion-form textarea{
    margin-top: 10px;
    height: 20px;
    width: 100%;
  }
  .Opinion-form textarea{
    height: 200px;
    resize: none;
  }
  .Opinion-form button{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
  }
  
  
@media only screen and (max-width: 1200px) {
    .Courses-item{
        flex-direction: column;
    }
    .Courses-item-img{
        width: 100%;
    }
    .Courses-item-content{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .Opinion-data{
      text-align: start;
    }
    .Cours-lvl1{
      flex-direction: column;
      height: 70%;
      width: 100%;
  }
  .Cours-img{
    height: 100%;
    width: 100%;
    margin: 2% 0 0 0;
}
.Cours-apply{
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Cours-img img{
    width: 100%;
    height: 100%;
}
    
  }