.Nav-title-home {
  z-index: 1000;
  position: absolute;
  left: 15%;
  font-size: 30px;
  font-family: 'Protest Revolution', sans-serif;
  color: antiquewhite;
}
.Show-menu-bar{
  display: none;
}
.Nav-subpages-home {
  z-index: 1000;
  position: absolute;
  font-size: calc(10px + 1.5vmin);
  right: 15%;
  height: 112px;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font: normal "Poppins", Helvetica, Arial, Verdana, sans-serif;
}
.Nav-subpages-home a {
  letter-spacing: 0.5px;
  text-decoration: none;
  margin: 0 2% 0 2%;
  margin-block-start: 1.5em;
  margin-block-end: 1em;
  color: antiquewhite;
  font-weight: 350;
  white-space: nowrap;
  justify-content: space-between;
}
.Nav-subpages-home a:hover{
  color: rgb(0, 91, 150);
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
}
.dropdown-menu.active {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.3);
  border-radius: 15px;
  width: auto;
  z-index: 1000;
}
.dropdown-menu.active a {
  box-sizing: border-box;
  white-space: nowrap;
  margin: 10px 5px 10px 5px;
}

.Presentation{
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}
.Slides-item {
  position: relative;
  height: 85vh;
}
.Slides-item img {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slides-button{
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: none;
  color: antiquewhite;
  z-index: 1000;
  bottom: 10px;
  border: solid 2px antiquewhite;
  left: calc(50% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  align-self: center;
}
.slides-button:hover{
  border-color: rgb(0, 91, 150);
  color: rgb(0, 91, 150);
}

.AboutMe-home {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  justify-content: center;
  width: 100%;
  padding: 2% 0 2% 0;
  color: rgb(51, 51, 51);
}

.AboutMe-home-img {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(30% - 2%);
  height: 40vh;
  background-color: rgb(0, 51, 102);
  border-radius: 50%;
  margin-left: 2%;
}
.Little-circle{
  z-index: 1000;
  position: absolute;
  background-color: rgb(0, 51, 102);
  padding-top: 2%;
  width: 6%;
  border-radius: 50%;
  top: 0.5%;
  left: 5%;
}
.Medium-circle{
  z-index: 1000;
  position: absolute;
  background-color: rgb(0, 51, 102);
  padding-top: 2%;
  width: 8%;
  border-radius: 50%;
  bottom: 0.5%;
  right: 5%;
}
.Little-circle::before,
.Medium-circle::before {
  content: '';
  display: block;
  padding-top: 50%; 
}
.AboutMe-home-img img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  z-index: 1;
}
.AboutMe-home-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: calc(30% - 2%);
  margin-right: 2%;
} 
.AboutMe-home-content img{
  width: 40%;
}

.Find-out-more {
  background-color: rgb(0, 136, 204);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: start;
  width: 135px;
  height: 40px;
  border-radius: 40px;
  padding-top: 15px;
  transition: background-color 0.4s ease-in-out;
  margin-bottom: 2%;
}
.Find-out-more:hover{
  background-color: rgb(0, 91, 150);
}

.Products-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 51, 102);
}
.Products-home-item{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  margin: 2% 0 2% 0;
  color: white;
}
.Products-home-item-img {
  position: relative;
  height: 35vh;
  width: calc(50% - 3.33%);
  margin-right: 3.33%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Little-circle-products{
  z-index: 1000;
  position: absolute;
  background-color: rgb(0, 136, 204);
  padding-top: 2%;
  width: 6%;
  border-radius: 50%;
  top: -10%;
  right: -5%;
}
.Medium-circle-products{
  z-index: 1000;
  position: absolute;
  background-color: rgb(0, 136, 204);
  padding-top: 5%;
  width: 15%;
  border-radius: 50%;
  bottom: -5%;
  right: -5%;
}
.Square-products{
  z-index: 0;
  position: absolute;
  background-color: rgb(0, 136, 204);
  padding-top: 35%;
  width: 35%;
  border-radius: 15%;
  top: -7%;
  left: -5%;
}
.Little-circle-products::before,
.Medium-circle-products::before {
  content: '';
  display: block;
  padding-top: 50%; 
}
.Products-home-item-content{
  width: calc(50% - 3.33%);
  margin-left: 3.33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Products-home-item:nth-child(even){
  margin: 0;
}
.Products-home-item-reverse {
  flex-direction: row-reverse; 
}
.Products-home-item-reverse .Products-home-item-img {
  width: calc(50% - 3.33%);
  margin: 0;
  margin-left: 3.33%;
  display: flex;
  justify-content: flex-end;
}
.Products-home-item-reverse .Products-home-item-content {
  width: calc(50% - 3.33%);
  margin: 0;
  margin-right: 3.33%;
  display: flex;
  justify-content: flex-start;
}
.Products-home-item-img img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  z-index: 1;
}

.Contact-ref {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1%;
  color: rgb(51, 51, 51);
}
.Contact-ref h2{
  width: 60%;
  align-self: center;
}
.Contact-ref a {
  align-self: center;
}

@media only screen and (max-width: 1300px) {

  .AboutMe-home {
    flex-direction: column;
    align-items: center;
  }
  .AboutMe-home-img {
    width: 60%;
    margin: 0;
    justify-content: center;
    padding: 0 2% 0 2%;
  }
  .AboutMe-home-img img {
    width: 95%;
    height: 100%;
  } 
  .AboutMe-home-content{
    width: 60%;
    margin: 0;
    margin-top: 3%;
    text-align: center;
    padding: 0 3% 0 3%;
    align-items: center;
  }
  .Little-circle{
    top: 5%;
    left: -1%;
  }
  .Medium-circle{
    bottom: 5%;
    right: -3%;
  }

  .Presentation{
    height: 50vh;
  }
  .Slides-item {
    height: 50vh; 
  }
  .Nav-title-home {
    top: -5%;
    left: calc(50% - 116.5px);
  }
  .Nav-subpages-home {
    top: 6.5%;
    justify-content: center;
    left: calc(50% - 250px);
  }
  .Products-home-item{
    flex-direction: column;
  }
  .Products-home-item-img {
    width: 100%;
    margin-top: 5%;
  }
  .Products-home-item-content{
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .Products-home-item-reverse {
    flex-direction: row; 
  }
  .Products-home-item-reverse .Products-home-item-img {
    width: 100%;
  }
  .Products-home-item-reverse .Products-home-item-content {
    width: 100%;
    margin: 0;
    justify-content: center;
  }

}

@media only screen and (max-width: 650px) {
  .Nav-title-home {
    top: -5%;
    left: 5%;
  }
  .Show-menu-bar{
    z-index: 1000;
    font-size: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8%;
    right: 10%;
    color: antiquewhite;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    rotate: (0);
  }
  .Show-menu-bar-active{
    rotate: (90deg);
  }
  .Show-menu-bar:hover{
    background-color: rgb(0, 0, 0, 0);
  }
  .Nav-subpages-home{
   visibility: hidden;
   transition: transform 0.3s ease;
   transform: translateX(-100%);
  }
  .Nav-subpages-home-active {
    position: fixed;
    visibility: visible;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: rgb(51, 51, 51);
    z-index: 10000;
    justify-content: flex-start; 
    transform: translateX(0); 
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 0%; 
    left: 100%;
  }
}