.Presentation{
  width: 100%;
  background-color: rgb(0, 158, 158);
  height: 90vh;
}
.Slides {
  background-color: rgb(0, 158, 158);
  max-width: 60%;
  margin: auto; 
}
.Slides-item {
  position: relative;
  margin: auto;
  width: 100%;
  height: 85vh; 
}
.Slides-item img {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slides-button{
  position: absolute;
  width: 5vw;
  height: 4vh;
  background-color: black;
  color: wheat;
  z-index: 1000;
  bottom: 10px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutMe-home-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  width: calc(30% - 2%);
  margin-left: 2%;
} 
.AboutMe-home {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin: 3% 0 3% 0;
}

.AboutMe-home-img {
  display: flex;
  justify-content: flex-start;
  width: calc(30% - 2%);
  margin-right: 2%;
}
.AboutMe-home-img img {
  width: 60%;
}
.Find-out-more {
  background-color: rgb(29, 27, 27);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: start;
  width: 135px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 15px;
}
.Find-out-more:hover {
  transform: scale(1.02);
}
.Products-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 158, 158);
}
.Products-home-item{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  margin: 2% 0 2% 0;
}
.Products-home-item-img {
  width: calc(50% - 2%);
  margin-right: 2%;
  display: flex;
  justify-content: flex-start;
}
.Products-home-item-content{
  width: calc(50% - 2%);
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Products-home-item:nth-child(even){
  margin: 0;
}
.Products-home-item-reverse {
  flex-direction: row-reverse; 
}
.Products-home-item-reverse .Products-home-item-img {
  width: calc(50% - 2%);
  margin: 0;
  margin-left: 2%;
  display: flex;
  justify-content: flex-end;
}
.Products-home-item-reverse .Products-home-item-content {
  width: calc(50% - 2%);
  margin: 0;
  margin-right: 2%;
  display: flex;
  justify-content: flex-start;
}
.Products-home-item-img img{
  width: 100%;
}

.Gallery-home {
  background-color: rgb(29, 27, 27);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.Gallery-home-effects {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 60%;
  margin: 0;
}

.Gallery-home-img {
  width: 33vw;
  height: 40vh;
}
.Gallery-home-img:nth-child(even) {
  margin: 0 4% 0 4%;
}
.Gallery-home-img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.3s ease-in-out;
}
.Gallery-home-img img:hover {
  transform: scale(1.02);
}
.See-more {
  color: white;
  text-decoration: none;
  padding: 1% 0 1% 0;
}
.See-more:hover {
  color: rgb(0, 158, 158);
}

.Contact-ref {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1%;
}
.Contact-ref h2{
  width: 60%;
  align-self: center;
}
.Contact-ref a {
  align-self: center;
}

@media only screen and (max-width: 1300px) {

  .AboutMe-home {
    flex-direction: column;
    align-items: center;
  }
  .AboutMe-home-img {
    width: 60%;
    margin: 0;
    justify-content: center;
    padding: 0 2% 0 2%;
  }
  .AboutMe-home-img img {
    width: 60%;
  } 
  .AboutMe-home-content{
    width: 60%;
    margin: 0;
    text-align: center;
    padding: 0 3% 0 3%;
    align-items: center;
  }

  .Presentation{
    height: 50vh;
  }
  
  .Slides {
    max-width: 90%;
    margin: auto; 
  }
  .Slides-item {
    height: 45vh; 
  }
}